
{% extends 'profile.html' %}

{% load static %}

{% block title %}
	About
{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">About</h1>
		<p class="lead common-details">About page filled with the about of the Micro Payment System, it's featured content and information.</p>
		<hr class="my-4">
		<p class="common-details">Some more information on Micro Payment System to make this seem legit and longer.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>

{% endblock %}
