
{% extends 'profile.html' %}

{% load static %}

{% block title %}
	Change Password
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<a href="javascript:history.back()"><span class="go-back fas fa-chevron-left">Go Back</span></a>

	<div class="page-header"><h4>Change password</h4></div>
	<form class="form-group password-box bg-light mx-auto" method="post">
		{% csrf_token %}
		<table class="table table-borderless">
			<tr>
				<td>
					<label for="name">Current Password<span class="asteriskField">*</span></label>
				</td>
				<td>
					<input type="password" name="passwordnow" placeholder="Current Password" required="required" class="input-field">
				</td>
			</tr>
			<tr>
				<td>
					<label for="name">New Password<span class="asteriskField">*</span></label>
				</td>
				<td>
					<input type="password" name="password1" placeholder="New Password" required="required" class="input-field">
				</td>
			</tr>
			<tr>
				<td>
					<label for="name">Confirm New Password<span class="asteriskField">*</span></label>
				</td>
				<td>
					<input type="password" name="password2" placeholder="Confirm New Password" required="required" class="input-field">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="form-btn mx-auto">
						<input type="submit" class="btn btn-primary" value="Change Password">
						<input type="button" class="btn btn-secondary" onclick="history.back()" value="Cancel">
					</div>
				</td>
			</tr>
	</form>

{% else %}
	<meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% endif %}
{% endblock %}
